@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    width: 740px;
    margin: auto;
    background-color: rgb(157, 191, 178);
}

input {
    width: 50px;
    height: 25px;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 25px 0;
}

#generate-code {
    margin: 25px 0;
    width: 150px;
}