@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

header, main, footer {
    width: 640px;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

header {
    font-size: 18px;
}

em {
    font-weight: 900;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr 75px;
}

.top-left, .top-right, .bottom-right, .bottom-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-right, .bottom-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.input-number {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0 15px;
}

label {
    margin: 5px;
    text-transform: lowercase;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px auto;
    grid-column: span 2;
}

#generate-code {
    font-family: 'JetBrains Mono', monospace;
    margin: 25px 0;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgb(43, 89, 255);
    color: white;
}

#generate-code:hover {
    background-color: rgb(73, 113, 255);
    transition: 0.5s;
    cursor: pointer;
}

#code1-div, #code2-div {
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    padding: 15px 25px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.025);
    text-align: start;
    box-sizing: border-box;
    font-size: 12px;
}

#or {
    text-align: start;
    padding-left: 10px;
    text-transform: uppercase;
}

.hidden {
    display: none;
}